packages/Antlr*
packages/Irony*
packages/Microsoft*
packages/Modernizr*
packages/Newtonsoft*
packages/OpenCover*
packages/ReportGenerator*
packages/Respond*
packages/WebGrease*
packages/bootstrap*
packages/jQuery*
*.suo
*.user
*.Cache
obj
bin
TestResults
target