@model GenericSearch.Core.DateSearch
<div class="form-group row">
    <label asp-for="SearchTerm" class="col-sm-2 control-label">@this.Model.LabelText</label>
    <div class="col-sm-2">
        <select asp-for="Comparator" asp-items="Html.GetEnumSelectList(typeof(GenericSearch.Core.DateComparators))" class="form-control dateSelect"></select>
    </div>
    <div class="col-sm-8 form-inline">
        <input asp-for="SearchTerm" class="form-control" />
        @if (this.Model.Comparator == GenericSearch.Core.DateComparators.InRange)
        {
            <input asp-for="SearchTerm2" class="form-control" />
        }
        else
        {
            <input asp-for="SearchTerm2" class="form-control" style="display: none;" />
        }
    </div>
    <input asp-for="Property" type="hidden" />
    <input asp-for="TargetTypeName" type="hidden" />
    <input name="@(ViewData.TemplateInfo.HtmlFieldPrefix + ".ModelTypeName")" type="hidden" value="@this.Model.GetType().AssemblyQualifiedName" />
</div>