@model GenericSearch.Core.EnumSearch
@{
    IEnumerable<SelectListItem> items = new[]
    {
new SelectListItem()
{
Text = "-",
Value = string.Empty
}
}.Concat(Html.GetEnumSelectList(this.Model.EnumType));
}
<div class="form-group row">
    <label asp-for="SearchTerm" class="col-sm-2 control-label">@this.Model.LabelText</label>
    <div class="col-sm-8 offset-sm-2">
        <select asp-for="SearchTerm" asp-items="items" class="form-control"></select>
    </div>
    <input asp-for="Property" type="hidden" />
    <input asp-for="EnumTypeName" type="hidden" />
    <input asp-for="TargetTypeName" type="hidden" />
    <input name="@(ViewData.TemplateInfo.HtmlFieldPrefix + ".ModelTypeName")" type="hidden" value="@this.Model.GetType().AssemblyQualifiedName" />
</div>
