@model GenericSearch.Core.TextSearch
<div class="form-group row">
    <label asp-for="SearchTerm" class="col-sm-2 control-label">@this.Model.LabelText</label>
    <div class="col-sm-2">
        <select asp-for="Comparator" asp-items="Html.GetEnumSelectList(typeof(GenericSearch.Core.TextComparators))" class="form-control"></select>
    </div>
    <div class="col-sm-8">
        <input asp-for="SearchTerm" class="form-control" />
    </div>
    <input asp-for="Property" type="hidden" />
    <input asp-for="TargetTypeName" type="hidden" />
    <input name="@(ViewData.TemplateInfo.HtmlFieldPrefix + ".ModelTypeName")" type="hidden" value="@this.Model.GetType().AssemblyQualifiedName" />
</div>
